@use "../abstracts" as *;

:root {
    /**
    * Font family props
    */
    --ff-default: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    --ff-heading: "Roboto Condensed", sans-serif;
    --ff-body: "Roboto", sans-serif;
    --ff-nav: "Roboto Condensed", sans-serif;
    --ff-button: "Roboto Condensed", sans-serif;

    /**
    * Font size props
    */
    @each $screen-size, $property in $font-sizes {
        @if $screen-size == small {
            @each $prop, $value in $property {
                --fs-#{$prop}: #{$value};
            }
        } @else {
            @include mq(medium) {
                @each $prop, $value in $property {
                    --fs-#{$prop}: #{$value};
                }
            }
        }
    }

    --fs-body: var(--fs-300);
    --fs-nav: var(--fs-300);
    --fs-button: var(--fs-300);

    /**
    * Font weight props
    */
    @each $weight, $value in $font-weights {
        --fw-#{$weight}: #{$value};
    }

    --fw-body: var(--fw-regular);
    --fw-nav: var(--fw-semibold);
    --fw-button: var(--fw-medium);

    /**
    * Background props
    */
    --bg-body: #1b262c;
    --bg-nav: rgba(0, 0, 0, 0.3);
    --bg-nav-menu: #112240;
    --bg-button-default: #000000;
    --bg-button-hover-default: rgba(0, 0, 0, 0.8);

    @include mq(medium) {
        --bg-nav: transparent;
        --bg-nav-menu: transparent;
    }

    /**
    * Color props
    */
    --clr-white: #ffffff;
    --clr-black: #000000;

    --clr-primary-100: #bbe1fa;
    --clr-primary-500: #3282b8;
    --clr-primary-900: #0f4c75;

    @each $color, $shade in $colors {
        @each $prop, $value in $shade {
            --clr-#{$color}-#{$prop}: #{$value};
        }
    }

    --clr-body: var(--clr-gray-300);
    --clr-button-default: #ffffff;
    --clr-button-outlined-default: #000000;

    /**
    * Spacing props
    */
    @each $props, $value in $spacing {
        --spacing-#{$props}: #{$value};
    }

    /**
    * Line height props
    */
    --lh-body: 1.4;
    --lh-nav: 1;
    --lh-button: 1;
    --lh-heading: 1.1;
}
