@use "../abstracts" as *;

@each $color, $shade in $colors {
    @each $prop, $value in $shade {
        .text-#{$color}-#{$prop} {
            color: var(--clr-#{$color}-#{$prop}) !important;
        }

        .bg-#{$color}-#{$prop} {
            background-color: var(--clr-#{$color}-#{$prop}) !important;
        }
    }
}

.text-white {
    color: var(--clr-white) !important;
}

.bg-white {
    background-color: var(--clr-white) !important;
}

.text-black {
    color: var(--clr-black) !important;
}

.bg-black {
    background-color: var(--clr-black) !important;
}

.text-primary-100 {
    color: var(--clr-primary-100) !important;
}

.bg-primary-100 {
    background-color: var(--clr-primary-100) !important;
}

.text-primary-500 {
    color: var(--clr-primary-500) !important;
}

.bg-primary-500 {
    background-color: var(--clr-primary-500) !important;
}

.text-primary-900 {
    color: var(--clr-primary-900) !important;
}

.bg-primary-900 {
    background-color: var(--clr-primary-900) !important;
}
